table {
    width: 100%;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    text-align: left;
}

table#01 tr:nth-child(even){
    background-color: #eee;
}
table#01 tr:nth-child(odd){
    background-color: #fff;
}
table#01 tr{
    background-color: #fff;
}